<h1>Messages: </h1>

{% for message in messages %}
    <p>{{ loop.index }} - {{ message }}</p><br>
{% endfor %}


<iframe src="https://eu1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FHistoire-Titanic&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000016d5936bda2_00000000&amp;sceneTime=0" width="1000" height="500" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
